[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.0.0,<3.0.0"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pyjwt = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
