[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.1.0"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pyjwt = "*"
psycopg2 = "*"
Werkzeug="2.2.2"
Flask-Migrate="2.6.0"
SQLAlchemy="1.4"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
